body {
    font-family:"Calibri Light";
    background-color: #FAF3E0;
    color: #105510;
}

header {
    background: url(https://learn.logikaschool.com/uploads/student/2812468/683b2da3c7511.jpg) no-repeat center center/cover;
    padding: 5px;
}

header img {
    padding: 10px;
}

nav a{
    color: white;
    padding: 15px;
    font-size: 25px;
    margin: 30px;
}

nav {
    text-align: right;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

.info {
   color: #444444;
   border-left: 13px double #444444;
   padding: 5px;
   font-size: 22px;
}

.mint {
    display: flex;
    justify-content: flex-end;
}

.popularItems {
    font-size: 30px;
    margin: 50px;
}

.CardP {
    display: flex;
    align-items: center;
}

.CardP img {
    width: 210px;
    height: 210px;
    margin-left: 20px;
}

.backtohome {
    display: flex;
    justify-content: center;
    padding: 50px;
}

footer {
    background-color: #AEBA79;
    color: white;
    padding: 10px;
}

.AWT {
    display: flex;
    justify-content: flex-start;
}
.adress {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.adress article {
  padding: 0px;
  margin: 0px;
}

.adress ul {
  padding-left: 20px; 
  margin: 10px;
  font-size: 25px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons img {
    margin: 15px;
}

footer li {
    margin: 30px;
}

table {
  background-color: #BAD995;
  border: 3px solid #B1BC80;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  margin: 20px 0px;
  color: black;
}

td {
  border: 3px solid #B1BC80;
  padding: 15px;
}

table img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
